* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav, ul {
    list-style: none;
}

/* -- HEADER -- */

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #FFB400;
}


.title {
    margin-left: 20%;
    width: 200px;
    font-size: 30px;
}

header nav {
    margin-right: 20%;
    display: flex;
}

header li a {
    color: #17882c;
    font-size: 20px;
}

header li {
    margin: 0 15px;
}

body {
    margin: 0;
}

h1{
    text-align: center;
}


.menuzao{
    margin-top: 5%;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*background-color: #f1f1f1;*/

}

.titulo {
    width: 100%;
    height: 10%;
    font-family: 'Arial', sans-serif;
    font-size: 30px;
    /*background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
    color: black;
}


.menuzao .articles article .none {
    width: 100%;
    height: 87%;
}

.menuzao .articles article .titleArticle {
    width: 100%;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuzao .articles {
    width: 60%;
    height: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.menuzao .articles article {
    width: 46%;
    height: 45%;
    background-color: #3f3f3f;
}

#article1 {
    background-image: url("IMG/cachorro.jpg");
    background-position: center;
    background-size: cover;
    }

#article2 {
    background-image: url("IMG/torrada.jpg");
    background-position: center;
    background-size: cover; 
}

#article3 {
    margin-top: 5%;
    background-image: url("IMG/refri.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 25px;
}

#article4 {
    margin-top: 5%;
    background-image: url("IMG/vendas.png"); 
    background-position: center;
    background-size: cover;
    margin-bottom: 25px;
}

.menuzao .articles article .titleArticle p {
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: red;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

