    .geral {
        min-height: 100%;
        position: relative;
        width: 800px;
}

@media only screen and (max-width: 450px){
    nav{
        width: 100%;
        height: 60px;

        background-color: #FFB400;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;

        position: absolute;
        bottom: 0;

 }
    
    /* NAV NAME */
    .nav-name{
        width: 50%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        letter-spacing: 2px;
        color: black;
        font-size: 15pt;
        font-weight: bold;

    }
    .container{
        width: 80%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        color: black;
        text-align: center;

    }


    .container .linha {
        width: 95%;
        height: 2px;
        background-color: black;
        margin-top: 70px;

    }


    .icon01{
        width: 18px;
        height: 18px;
        margin-top: 30px;
    }


    .icon0 {
        width: 20px;
        height: 20px;
        margin-left: 2px;
        margin-top: 20%;

    }

    .icon {
        width: 20px;
        height: 20px;
        margin-left: 2px;

    }

    .icon2 {
        width: 20px;
        height: 20px;
        margin-top: 3px;

    }

    .icon3{
        width: 18px;
        height: 18px;
        margin-top: 5px;
        
    }


    form {
        width: 80%;
        align-items: center;
        justify-content: left;
        text-align: left;
        font-family: 'Mina', sans-serif;

    }

    input {
        width: 100%;
        border: 1px solid #ffb400;
    }

    .botent {
        margin-top: 5px;
        width: 50%;
        padding: 0.3em 0;
        color: white;
        border: 2px solid black;
        background-color: #dd9000;
        cursor: pointer;
    }


    .botaoenviar {
        
        margin-top: 5px;
        width: 50%;
        padding: 0.3em 0;
        color: black;
        border: 2px solid black;
        background-color: #fdc849;
        cursor: pointer;
    }

    /* NAV MENU */

    nav{

        position: fixed;
        bottom: 0;

    }

    .nav-menu{
        width: 50%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

    }
    .nav-menu .container{
        width: 80%;
        height: 100%;

        display: flex;
        justify-content: flex-end;
        align-items: center;

    }
    .nav-menu .container img{
        width: 20%;/
    }

    /* MENU A1 */
    .menu{
        display: none;

        width: 250px;
        height: 90%;

        margin-bottom: 60px;
        right: 0%; 

        background-color: #FDC849;
        
        justify-content: center;
        align-items: flex-start;
        position: fixed;

        color: #fff;
        font-size: 15pt;

        position: absolute;
        bottom: 0;

        border-top-left-radius: 30px;
    }
    .menu .container{
        width: 100%;
        height: 40%;

        display: flex;
        align-items: center;
        flex-wrap: wrap;

        font-size: 13px;
    }

    .menu .container a{
        display: flex;
        justify-content: left;
        align-items: center;

        color: black;
        
        width: 100%;
        height: 20%;

        background-color: #FDC849;
        
        font-family: 'Mina', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: bold;

        text-decoration: none;

        margin-left: 5px;
    }

    .menu .container .textuser {
        margin-left: 70px;
        margin-top: 15px;
        
        
    } 

    /* AVATAR*/
    .logBlock{
        width: 60px;
        height: 60px;

        background-image: url("IMG/user.png");
        background-position: center;
        background-size: cover;

        display: flex;
        flex-wrap: nowrap;

        border-radius: 100%;
        
        margin-top: 90px;
        margin-left: 15px;
    }


    #avatar{
        display: flex;
        justify-content: left;
        flex-wrap: nowrap;

        background-color: transparent;
    }



    body {
        margin: 0;
        font-family: 'Mina', sans-serif;
    }
    .aviso {
        display: none;
    }



/* BODY */
    body{
        background-color: #f1f1f1;
    }

    .cards{
        width: 80%;
        height: 5px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        
    }

    .card{
        width: 100%;
        height: 150px;

        background-color: #ccc;
        margin-top: 40px;
        cursor: pointer;
        
    }

    .card .card-top{
        width: 100%;
        height: 80%;
    }
    .card .card-botton{
        width: 100%;
        height: 20%;

        background-color: rgba(0, 0, 0, 0.5);

        display: flex;
        align-items: center;

        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
    }
    .card .card-botton a{
        color: #fff;
    }
    .card .card-botton p{
        font-size: 14pt;
        color: #fff;

        width: 70%;
    }
    .card .card-botton .img{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        width: 20px;
        height: 20px;
    }

    #card1{
        background-image: url("IMG/coxinha.png");
        background-size: cover;
        background-position: center;
    }

    .infos{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        margin-bottom: 30px;
    }

    /* TITLE */
    .title{
        width: 100%;
        height: 80px;

        display: flex;
        justify-content: center;
        align-items: center;

        color: black;
        font-family: 'Mina', sans-serif;
        letter-spacing: 2px;
        font-size: 18pt;
        font-weight: bold;
    }

    /* TEXT */
    .text{
        width: 80%;

        color: #3f3f3f;
        font-family: 'Mina', sans-serif;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 14pt;

        margin-bottom: 50px;

        text-align: center;
        
    }

    

}

@media only screen and (max-width: 900px) and (orientation: landscape) {
    
    nav{
        width: 100%;
        height: 60px;

        background-color: #FFB400;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;

        position: absolute;
        bottom: 0;

 }
    
    /* NAV NAME */
    .nav-name{
        width: 50%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        letter-spacing: 2px;
        color: black;
        font-size: 15pt;
        font-weight: bold;

    }
    .container{
        width: 80%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        color: black;
        text-align: center;

    }


    .container .linha {
        width: 95%;
        height: 2px;
        background-color: black;
        margin-top: 70px;

    }


    .icon01{
        width: 18px;
        height: 18px;
        margin-top: 30px;
    }


    .icon0 {
        width: 20px;
        height: 20px;
        margin-left: 2px;
        margin-top: 20%;

    }

    .icon {
        width: 20px;
        height: 20px;
        margin-left: 2px;

    }

    .icon2 {
        width: 20px;
        height: 20px;
        margin-top: 3px;

    }

    .icon3{
        width: 18px;
        height: 18px;
        margin-top: 5px;
        
    }


    form {
        width: 80%;
        align-items: center;
        justify-content: left;
        text-align: left;
        font-family: 'Mina', sans-serif;

    }

    input {
        width: 100%;
        border: 1px solid #ffb400;
    }

    .botent {
        margin-top: 5px;
        width: 50%;
        padding: 0.3em 0;
        color: white;
        border: 2px solid black;
        background-color: #dd9000;
        cursor: pointer;
    }


    .botaoenviar {
        
        margin-top: 5px;
        width: 50%;
        padding: 0.3em 0;
        color: black;
        border: 2px solid black;
        background-color: #fdc849;
        cursor: pointer;
    }

    /* NAV MENU */

    nav{

        position: fixed;
        bottom: 0;

    }

    .nav-menu{
        width: 50%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

    }
    .nav-menu .container{
        width: 80%;
        height: 100%;

        display: flex;
        justify-content: flex-end;
        align-items: center;

    }
    .nav-menu .container img{
        width: 20%;/
    }

    /* MENU A1 */
    .menu{
        display: none;

        width: 250px;
        height: 90%;

        margin-bottom: 60px;
        right: 0%; 

        background-color: #FDC849;
        
        justify-content: center;
        align-items: flex-start;
        position: fixed;

        color: #fff;
        font-size: 15pt;

        position: absolute;
        bottom: 0;

        border-top-left-radius: 30px;
    }
    .menu .container{
        width: 100%;
        height: 40%;

        display: flex;
        align-items: center;
        flex-wrap: wrap;

        font-size: 13px;
    }

    .menu .container a{
        display: flex;
        justify-content: left;
        align-items: center;

        color: black;
        
        width: 100%;
        height: 20%;

        background-color: #FDC849;
        
        font-family: 'Mina', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: bold;

        text-decoration: none;

        margin-left: 5px;
    }

    .menu .container .textuser {
        margin-left: 70px;
        margin-top: 15px;
        
        
    } 

    /* AVATAR*/
    .logBlock{
        width: 60px;
        height: 60px;

        background-image: url("IMG/user.png");
        background-position: center;
        background-size: cover;

        display: flex;
        flex-wrap: nowrap;

        border-radius: 100%;
        
        margin-top: 90px;
        margin-left: 15px;
    }


    #avatar{
        display: flex;
        justify-content: left;
        flex-wrap: nowrap;

        background-color: transparent;
    }


    body {
        margin: 0;
        font-family: 'Mina', sans-serif;
    }
    .aviso {
        display: none;
    }



/* BODY */
    body{
        background-color: #f1f1f1;
    }

    .cards{
        width: 80%;
        height: 5px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        
    }

    .card{
        width: 100%;
        height: 150px;

        background-color: #ccc;
        margin-top: 20px;
        cursor: pointer;
        
    }

    .card .card-top{
        width: 100%;
        height: 80%;
    }
    .card .card-botton{
        width: 100%;
        height: 20%;

        background-color: rgba(0, 0, 0, 0.5);

        display: flex;
        align-items: center;

        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
    }
    .card .card-botton a{
        color: #fff;
    }
    .card .card-botton p{
        font-size: 14pt;
        color: #fff;

        width: 70%;
    }
    .card .card-botton .img{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: nowrap;
        width: 20px;
        height: 20px;
    }

    #card1{
        background-image: url("IMG/coxinha.png");
        background-size: cover;
        background-position: center;
    }

    .infos{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        margin-bottom: 30px;
    }

    /* TITLE */
    .title{
        width: 100%;
        height: 80px;

        display: flex;
        justify-content: center;
        align-items: center;

        color: black;
        font-family: 'Mina', sans-serif;
        letter-spacing: 2px;
        font-size: 18pt;
        font-weight: bold;
    }

    /* TEXT */
    .text{
        width: 80%;

        color: #3f3f3f;
        font-family: 'Mina', sans-serif;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 14pt;

        margin-bottom: 50px;

        text-align: center;
        
    }

}