
table {
    border: 2px solid black;
    width: 50%;
    align-items: center;
    text-align: center;
}

th, td {
    text-align: center;
    padding: 8px;
    background-color: #d1d1d1;
}


tr:nth-child(even){
	background-color: #d1d1d1;
	border: 2px solid black;
}

th {
    background-color: #73624B;
    color: white;
}

.nome {
	font-size: 18px; 
	font-style: bold;
	font-family: "Lato",monospace;
}

.preco {
	font-size: 30px;
	color: green;
}