
table {
    border: 2px solid black;
    width: 50%;
    align-items: center;
    text-align: center;
}

th, td {
    text-align: left;
    padding: 8px;
    background-color: grey;
}


tr:nth-child(even){
	background-color: grey;
	border: 2px solid black;
}

th {
    background-color: brown;
    color: white;
}